@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050712;
}

.custom-marker-wrapper {
  background-color: white;
  border-radius: 9999px;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-marker-img {
  width:24;
  height: 24px;
}

html, body {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

[data-lenis-prevent] {
  overscroll-behavior: contain;
  scroll-behavior: auto !important;
}

